div.rmdp-wrapper .rmdp-day.rmdp-today span {
  background-color: blue; /* ganti dengan warna yang diinginkan */
}

div.rmdp-wrapper .rmdp-day.rmdp-today {
  background-color: blue; /* ganti dengan warna yang diinginkan */
  border-radius: 4px;
}

/* Menargetkan semua hari */
div.rmdp-wrapper .rmdp-day {
  height: 58px;
  width: 40.57px;
}

/* Menargetkan hari yang difokuskan kecuali hari rentang */
div.rmdp-wrapper .rmdp-day:not(.rmdp-range):focus {
  border-radius: 4px;
}

/* Menargetkan hari rentang */
div.rmdp-wrapper .rmdp-day.rmdp-range {
  background-color: rgba(183, 213, 230, 0.67);
  box-shadow: none;
  color: black;
}

/* Menargetkan span di dalam hari */
div.rmdp-wrapper .rmdp-day span {
  border-radius: 4px;
}

/* Menargetkan hari yang sedang diaktifkan dalam minggu */
div.rmdp-wrapper div.rmdp-week .rmdp-day:active {
  background-color: black;
}

/* Menargetkan hari awal dan akhir dalam rentang */
div.rmdp-wrapper .rmdp-day.rmdp-range.start,
div.rmdp-wrapper .rmdp-day.rmdp-range.end {
  background-color: blue; /* ganti dengan warna yang diinginkan */
  color: white;
}

/* Menargetkan hari awal dalam rentang */
div.rmdp-wrapper .rmdp-day.rmdp-range.start {
  border-radius: 0.375rem 0 0 0.375rem;
}

/* Menambahkan konten khusus sebelum hari yang dipilih */
div.rmdp-wrapper .rmdp-day.rmdp-selected::before {
  content: 'Keberangkatan';
  position: absolute;
  z-index: 50;
  background-color: black;
  padding: 5px;
  width: 100px;
  font-size: 10px;
  border-radius: 4px;
  font-weight: normal;
  right: 0;
  bottom: 58px;
  color: white;
}

/* Menargetkan hari yang dipilih */
div.rmdp-wrapper .rmdp-day.rmdp-selected {
  background-color: blue; /* ganti dengan warna yang diinginkan */
  border-radius: 4px;
}

/* Menargetkan span di dalam hari yang dipilih kecuali yang memiliki kelas .highlight */
div.rmdp-wrapper .rmdp-day.rmdp-selected span:not(.highlight) {
  box-shadow: none;
}

/* Menambahkan konten khusus sebelum hari awal dalam rentang */
div.rmdp-wrapper .rmdp-day.rmdp-range.start::before {
  content: 'Keberangkatan';
  position: absolute;
  z-index: 50;
  background-color: black;
  padding: 5px;
  width: 100px;
  font-size: 10px;
  border-radius: 4px;
  font-weight: normal;
  right: 0;
  bottom: 58px;
  color: white;
}
