@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  @apply bg-[#b6b9be] border-none rounded-3xl;

  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#aaacb3];
}
::-webkit-scrollbar-track {
  @apply bg-gray-300;

  border: 0px none #ffffff;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
