:root {
  --toastify-icon-color-success: #0000;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'),
    url('/fonts/Poppins-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local('Poppins Medium'), local('Poppins-Medium'),
    url('/fonts/Poppins-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'),
    url('/fonts/Poppins-Bold.woff2') format('woff2');
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  @apply appearance-none m-0;
  -moz-appearance: none;
}

div.otp div {
  @apply gap-4 w-auto mx-auto;
}

div.otp div input {
  @apply h-10 min-w-10 border border-gray-300 rounded-2xl outline-none text-base font-medium;
}

div.otp div input:focus {
  @apply border-blue-600;
}

body {
  @apply font-normal;
  font-family: 'Poppins', sans-serif;
}

button,
input,
textarea {
  @apply text-sm font-[inherit];
}

p {
  @apply text-sm;
}

.input-primary {
  @apply w-full px-4 py-4 max-h-12 mb-1 border rounded-xl focus:outline-none;
}

div.pass-check {
  @apply text-[2px] !important;
}

.ReactModalPortal {
  @apply px-5;
}

.ReactModal__Overlay {
  @apply opacity-0 transition-opacity ease-in-out duration-200 z-20;
}
div.ReactModal__Content.ReactModal__Content--after-open {
  @apply w-fit border-none;
}

.ReactModal__Overlay--after-open {
  @apply opacity-100;
}

.ReactModal__Overlay--before-close {
  @apply opacity-100;
}

.ReactModal__Content {
  @apply w-fit border-none;
}

.rmdp-day {
  @apply h-[58px] w-[40.57px] hover:bg-accent hover:text-black;
}

.rmdp-day.rmdp-range {
  @apply hover:text-black;
}

.rmdp-day.rmdp-range {
  @apply bg-[#B7D5E6] shadow-none text-black;
}
.rmdp-day.rmdp-range.start,
.rmdp-day.rmdp-range.end {
  @apply bg-secondary text-white;
}
.rmdp-day.rmdp-range.start {
  @apply rounded-s-md;
}

.rmdp-day.rmdp-range.start::after {
  content: 'Tanggal Keberangkatan';
  position: absolute;
  z-index: 99999;
  font-size: 10px;
  width: 130px;
  padding-block: 5px;
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
  font-weight: normal;
  top: -30px;
  left: 0;
  color: white;
}
.rmdp-day.rmdp-range.start::before {
  content: '';
  height: 10px;
  position: absolute;
  top: -10px;
  left: 15px;
  width: 10px;
  background-color: black;
  color: black;
}
.rmdp-day.rmdp-range.end::after {
  content: 'Tanggal Kembali';
  position: absolute;
  font-size: 10px;
  width: 100px;
  padding-block: 5px;
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
  font-weight: normal;
  bottom: -30px;
  left: 0;
  color: white;
}
.rmdp-day.rmdp-range.end::before {
  content: '';
  height: 10px;
  position: absolute;
  bottom: -10px;
  left: 15px;
  width: 10px;
  background-color: black;
  color: black;
}
.rmdp-day.rmdp-range.end {
  @apply rounded-e-md;
}

.rmdp-day-picker > div {
  @apply flex flex-col gap-y-5;
}
