@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("../../public/fonts/Poppins-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url("../../public/fonts/Poppins-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("../../public/fonts/Poppins-Bold.woff2") format("woff2");
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  @apply appearance-none m-0;
  -moz-appearance: none;
}

div.otp div {
  @apply gap-4 w-auto mx-auto;
}

div.otp div input {
  @apply h-10 min-w-10 border border-gray-300 rounded-2xl outline-none text-base font-medium;
}

div.otp div input:focus {
  @apply border-blue-600;
}

body {
  @apply font-normal;
  font-family: "Poppins", sans-serif;
}

button,
input,
textarea {
  @apply text-sm font-[inherit];
}

.input-daftar {
  @apply w-full px-4 py-4 max-h-12 mb-1 border rounded-xl focus:outline-none focus:border-secondary;
}
