@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("../../public/fonts/poppins-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("../../public/fonts/poppins-bold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url("../../public/fonts/poppins-medium-webfont.woff2") format("woff2");
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  @apply appearance-none m-0;
  -moz-appearance: none;
}

div.otp div {
  @apply gap-4 w-auto mx-auto;
}

div.otp div input {
  @apply h-10 min-w-10 border border-gray-300 rounded-2xl outline-none text-base font-medium;
}

div.otp div input:focus {
  @apply border-blue-600;
}

body {
  @apply font-sans font-normal;
}

button,
input,
textarea {
  @apply text-sm font-[inherit];
}
